*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.nav-wrapper{
    width: 100%;
    background-color: rgb(217, 236, 189);
}
.nav-content{
    max-width: 900px;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    vertical-align: middle;
    width: 30px;
}
.nav-content span{
   
    padding: 50px;
}