
.para{
	margin-left: 9em;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row{
	font-size: 15px;
    width: 80%;
    margin-left: 162px;
    height: 14em;
}