*{box-sizing: border-box;}

.body{
	background-color: #ffde00;
	font-family: arial;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 1;
}
.outerbox{
	float: left;
	background-color: #1e1835;
	width: 100%;
	height: 30em;
}
.dropdown{
	margin: 0 auto;
	background-color:#1e1835;
	width: 75%;
}
.nav{
	height: 30rem;
	box-shadow: 0 10px 15px rgba(0,0,0,0.1);
	margin-top: 40px;
}
.logo{
	padding: 5px,0 0 80px;
	width: 75px;
	height: auto;
	margin: 20px;
}
nav ul{
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 30px;
	font: normal 1em/1.5 Helvetica Neue,Arial,Helvetica,sans-serif;
}
nav ul li{
	background-color: white;
	position: relative;
	list-style: none;
	display: inline-block;
}
nav ul li a{
	display: block;
	padding: 0 15px;
	color:white;
	background: #1e1835;
	text-decoration: none;
	line-height: 60px;
	font-size: 12px;
    font-weight: 700;
}
nav ul li a:hover{
	background: #e6e600;
}
nav ul ul{
	position: absolute;
	top: 60px;
	display: none;
}
nav ul li:hover > ul{
	display: block;
	background-color: white;
}
nav ul ul li{
	width: 150px;
	float: none;
	display: list-item;
	position: relative;
}
nav ul ul ul li{
	position: relative;
	top: -60px;
	left: 150px;
}
button {
  background-color:#ff5938;
  color: black;
  padding: 7px 12px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
  cursor: pointer;
  font-size: 12px;
    font-weight: 700;
}
.dropdown h1{
	color: white;
    font-size: 4.625em;
    text-align: center;
    font: normal 31px/1.5 Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -1px;
    }
    .row{
    	position: absolute;
    	margin-top: 25em;
    	width: 70%;
    margin-left: 13em
    }
.column {
  float: left;
  width: 20%;
  padding: 5px;
}
.column img{
	border-radius: 21px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
 .secondbox{
 	background-color: #f4f4f5;
 }
 .te{
 	width: 100%;
    height: 39em;
 }
 .text{
 	margin-bottom: -92px;
    padding-top: 13px;
 }
 .text h2{
    font: normal 24px/1.5 Helvetica Neue,Arial,Helvetica,sans-serif;
    margin-left: 13.7em;
 }
 .text p{
    color: grey;
    font: normal 11px/1.5 Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 0;
    letter-spacing: 0px;
    margin-left: 30em;
 }
  .boxes{
  display: block;
    width: 90%;
    margin-left: 90px;
    margin-top: 8em;


}
.box2{
  display: inline-block;
  width: 31%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box2 img{
    max-width: 100%;
    height: 25em;}
.box2{
  text-align: center;
}
.footer-wrapper{
	width: 100%;
    background-color: #1e1835;
}
footer{
    vertical-align: top;
    width: 800px;
    margin: auto;
    padding: 50px 0;
    background-color: #1e1835
}
footer span{

}
.fspan-1{
    
    padding: 4px 15px;
    background-color: rgb(255, 61, 78);
    border-radius: 4px;
    font-weight: 700;
    color: white;
}
.fspan-2{
    font-weight: 700;
    color: white;
    font: normal 13px/1.5 Helvetica Neue,Arial,Helvetica,sans-serif;

}
.fspan-3{
    color: rgb(130, 130, 130);
    font-size: 12px;
    
}